# Authentication
NEXTAUTH_SECRET=generate-a-secure-random-string-here
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=220013087532-c5623eno6uqra57uk73bghm66lvcqpif.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# Database (MongoDB Atlas) — Production connection string with full shard list
MONGO_URI=mongodb://ranaahmadranaahmad741_db_user:ahmedcs50x@ac-dxuk6v5-shard-00-00.uzfkejb.mongodb.net:27017,ac-dxuk6v5-shard-00-01.uzfkejb.mongodb.net:27017,ac-dxuk6v5-shard-00-02.uzfkejb.mongodb.net:27017/?ssl=true&replicaSet=atlas-q41tlc-shard-0&authSource=admin&appName=Saltiam

# Email (for OTP) — use a Google App Password (no spaces)
EMAIL_USER=ahmedcs50x@gmail.com
EMAIL_PASS=dfmkvczolgtqwtxj 