# Authentication
NEXTAUTH_SECRET=f0ada7a195cfc7464d1dbee09b8e9ab9fa34b9339fb9ef07276f8669af8c6609
NEXTAUTH_URL=https://your-app.vercel.app

# Google OAuth
GOOGLE_CLIENT_ID=147241106993-dbv49rsg89onrnq27id115pievf4t2fu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Database (MongoDB Atlas)
MONGO_URI=mongodb+srv://ranaahmadranaahmad741_db_user:ahmedcs50x@saltiam.uzfkejb.mongodb.net/

# Email (for OTP)
EMAIL_USER=ranaahmadranaahmad741@gmail.com
EMAIL_PASS=zywt cfar wuev xjff
